# 环境标识
VITE_APP_ENV=development

# ZEGO 控制台->项目管理->项目信息->基本信息->AppID
# ZEGOCLOUD console->Projects Management->Project Configuration->Basic Information->AppID
VITE_ZEGO_APP_ID=

# ZEGO 控制台->项目管理->项目信息->配置信息->Server 地址
# ZEGOCLOUD console->Projects Management->Project Configuration->Basic Configurations->Server URL
VITE_ZEGO_SERVER=

# 部署测试业务后台后可获取。https://github.com/ZEGOCLOUD/ai_agent_quick_start_server
# It will be available after deploying the test business backend.https://github.com/ZEGOCLOUD/ai_agent_quick_start_server
VITE_APP_BASE_URL=

# 数字人体验形象ID
VITE_DIGITAL_HUMAN_ID=c4b56d5c-db98-4d91-86d4-5a97b507da97
VITE_CONFIG_ID=web